@import "settings";
@import "foundation";


$maincolor:     #AF9FCC;
$dark:          #565398;
$secondary:     #A33170;
$white:         #ffffff;
$darkgrey:      #333333;
$maintext:      'Karma';

body{
  &.home{
    background-image: url('../img/main_photo.jpg');
  }
  &.weather_page{
    background-image: url('../img/weather_photo.jpg');
    background-position: bottom;
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: $white;
}
h1{
  font-family: $maintext, 'sans-serif';
  font-size: 4rem;
  color: $dark;
  font-weight: bold;
}
@media #{$small-only}{
  h1{
    font-size: 3rem;
  }
}


.top-bar{
  height: 4.5rem;
  background-color: $maincolor;
  .left{
    margin: 0;
    padding: 0;
    img{
      height: 4.5rem;
      padding: .5rem 1rem;
    }
  }
  .fa{
    padding: .75rem 1rem;
    color: $white;
    &:hover{
      color: $dark;
    }
  }
  .fa-2x{
    font-size: 2rem;
  }
}
@media #{$small-only} {
  .top-bar{
    height: 3rem;
    .left{
      img{
        height: 3rem;
        padding: .5rem 1rem;
      }
    }
    .fa{
      font-size: 2rem;
      padding: .5rem 1rem;
    }
  }
}


.reveal-modal{
  background-color: $white;
  color: $secondary;
}

a.button{
  text-align: center;
  background-color: $dark;
  padding: 1rem 1rem;
  color: $white;
  &:hover{
    background-color: $white;
    color: $dark;
  }
  &.other_option{
    background-color: $secondary;
    padding: 1rem 1rem;
    &:hover{
      background-color: $maincolor;
      color: $white;
    }
  }
}


.form{
  margin-top: 2rem;
  .prefix{
    height: 4rem;
    padding: .5rem 0;
    border-top: 2px $dark solid;
    border-left: 2px $dark solid;
    border-bottom: 2px $dark solid;
    border-right: none;
    background-color: rgba( $maincolor, .8 );
    color: $secondary;
  }
  input{
    height: 4rem;
    border-top: 2px $dark solid;
    border-left: none;
    border-bottom: 2px $dark solid;
    border-right: 2px $dark solid;
    background-color: rgba( $maincolor, .8 );
    font-size: 1.5rem;
    color: $darkgrey;
    &:focus {
      outline-color: transparent;
      outline-style: none;
      border-top: 2px $dark solid;
      border-left: none;
      border-bottom: 2px $dark solid;
      border-right: 2px $dark solid;
      background-color: $maincolor;
    }
  }
  ::-webkit-input-placeholder {
    color: $darkgrey;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $darkgrey;
  }
  :-ms-input-placeholder {
    color: $darkgrey;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $darkgrey;
  }
  select{
    height: 4rem;
    border-top: 2px $dark solid;
    border-left: none;
    border-bottom: 2px $dark solid;
    border-right: 2px $dark solid;
    background-color: rgba( $maincolor, .8 );
    font-size: 1.5rem;
    color: $darkgrey;
    &:focus {
      outline-color: transparent;
      outline-style: none;
    }
  }
}
@media #{$small-only} {
  .form{
    input{
      font-size: 1rem;
    }
    select{
      font-size: 1rem;
    }
  }
}

.placeholder{
  color: $darkgrey;
}

.weather{
  border: 2px $dark solid;
  border-collapse: collapse;
  background-color: rgba( $white, .6 );
  color: $darkgrey;
  padding: 0;
  margin-bottom: 1rem;
  &:hover{
    background-color: $white;
    border: 2px darken($dark, 20%) solid;
  }
  a{
    color: $darkgrey;
  }
  .weekday{
    background-color: $maincolor;
    margin: 0;
    height: 2.5rem;
    padding: .5rem 0;
    h2{
      color: $white;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: left;
      padding-left: 1rem;
      margin: 0;
    }
  }
  .weather_pic{
    padding: .5rem 1rem;
    img{
      width: auto;
      height: 3rem;
      display: block;
      margin: 0 auto;
    }
  }
  .temp{
    color: $dark;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: .25rem;
    &.high{
      color: $secondary;
    }
    p{
      font-size: 2rem;
      margin: 0;
      line-height: 4rem;
    }
    span{
      font-size: 1rem;
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
    .fa-arrow-up{
      color: $secondary;
    }
    .fa-arrow-down{
      color: $dark;
    }
  }
}
@media #{$medium-up} {
  .weather{
    .temp{
      padding: .25rem;
      p{
        font-size: 2.75rem;
      }
      span{
        font-size: 1.5rem;
      }
    }
}

}
@media #{$large-up} {
  .weather{
    .weekday{
      margin: 0;
      height: 4rem;
      padding: 1rem 0;
      h2{
        text-align: center;
        padding: 0;
      }
    }
    .weather_pic{
      padding: 1.5rem 1rem;
      img{
        width: 100%;
        height: auto;
      }
    }
    .temp{
      height: 5rem;
      padding: 0 1rem;
    }
  }
}
.margin{
  margin-top: 2rem;
}

.wrapper{
  margin: 2rem 0;
}
.weather_statement{
  position: relative;
  background-color: $maincolor;
  border-top: 2px $dark solid;
  border-left: 2px $dark solid;
  border-right: 2px $dark solid;
  padding: .5rem;
  color: $white;
  margin-top: 2rem;
  p{
    font-size: 2rem;
    margin: 0;
    line-height: 1.2;
  }
  span{
    color: $secondary;
  }
}

@media #{$small-only}{
  .weather_statement{
    p{
      font-size: 1.5rem;
    }
  }
}

.weather_info{
  position: relative;
  background-color: $maincolor;
  border-left: 2px $dark solid;
  border-right: 2px $dark solid;
  padding-top: .5rem;
  color: $white;
  text-align: center;
  padding: .5rem .5rem 1rem;
  span{
    font-size: 1.25rem;
  }
  img{
    width: 50%;
    height: auto;
  }
  p{
    font-size: 2.75rem;
    margin: 0;
  }
}

@media #{$small-only}{
  .weather_info{
    img{
      width: 75%;
      height: auto;
    }
    span{
      font-size: .75rem;
    }
    p{
      font-size: 1.75rem;
    }
  }
}

.suggestion{
  position: relative;
  border-bottom: 2px $dark solid;
  border-left: 2px $dark solid;
  border-right: 2px $dark solid;
  background-color: rgba( $white, .6 );
  padding: 1rem;
  font-size: 2.75rem;
  line-height: 1.2;
  color: $darkgrey;
  text-align: center;
}
@media #{$small-only}{
  .suggestion{
    font-size: 2rem;
  }
}

.load{
  background-color: $dark;
  overflow: hidden;
  h1{
    text-align: center;
    font-family: $maintext;
    color: $white;
    font-size: 3rem;
  }
}
